body {
  background-color: #000;
  font-family: "DIN Next", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.0em;
  text-transform: normal;
}

.App {
  text-align: center;
}

.header__logo-image {
  max-width: 205px;
}

.prose {
  border-color: white;
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
  color: white;
  font-size: 3rem;
  margin-top: 20vh;
  opacity: 88%;
}

.video-background {
  align-items: center;
  border-width: 0px;
  display: flex;
  height: 120vh;
  justify-content: center;
  left: -10vw;
  object-fit: cover;
  opacity: 65%;
  position: fixed;
  top: -10vh;
  width: 120vw;
  z-index: -1;
}

.message {
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.section {
  padding: 1rem;
  margin: 1rem;
}

.buttons {
  padding: 1rem;
}

.button {
  background-color: rgb(226, 33, 32,1);
  border-radius: 3.75rem;
  color: rgb(255, 255, 255,1);
  display: inline-block;
  margin: 0.4rem;
  min-width: 200px;
  outline-color: rgb(226, 33, 32);
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  transition: background-color .15s ease-in-out,color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (max-width: 1040px) {
  .video-background {
    height: 120vh;
    left: -30vw;
    top: -10vh;
    width: 160vw;
  }
}

@media (max-width: 800px) {
  .video-background {
    height: 120vh;
    left: -105vw;
    top: -10vh;
    width: 320vw;
  }

  .prose {
    font-size: 2rem;
  }

  .message{
    font-size: 0.8rem;
  }
}

@media (max-width: 450px) {
  .video-background {
    visibility: hidden;
  }

  .prose {
    font-size: 1.5rem;
  }
}
